/* 
    小程序不能使用通配符*
*/

view {
    /* 
        内外边框不占内容，便于布局
    */
    box-sizing: border-box;
}


/* #ifndef MP-WEIXIN */


/* 
自定义loading效果
*/

.uni-toast {
    background-color: #585858;
    box-shadow: 0 0 10px #fff;

    .uni-loading {
        background-image: none;
        border-radius: 50%;
        border-top: 16px #fff solid;
    }

    .uni-toast__content {
        color: #fff;
        font-size: 12px;
    }
}


/* #endif */